<table class="table table-striped custab table-bordered ">
  <thead>
  <tr>

    <th>Borrower</th>
    <th>Lender</th>
    <th>Amount</th>
    <th></th>
  </tr>
  </thead>

  <% @balance.each do |b| %>
      <tr>
        <td><%= b.borrower_user.email %> </td>
        <td><%= b.lender_user.email %></td>
        <td><%= b.amount %></td>
        <td><%= link_to 'Delete', balance_path(b), :method => :delete,data: { confirm: 'Are you sure?' }  %> </td>
      </tr>

  <% end %>
</table>